dist: xenial
language: java
jdk:
- openjdk13

addons:
 apt:
    packages:
      - ant  
  sonarcloud:
    organization: valerio23
    token:
      secure: 3566f3b247007febf79379755c86505c04caba02
script:
- ant build
- sonar-scanner

